<div class="container">
	<div class="row">
		<div class="col-md-12 mesage-box">
			<button class="btn btn-default col-md-12" ng-if="!!nextPageUrl" ng-click="loadEarlier()">Load earlier</button>
			<hr ng-if="!!nextPageUrl">
			<div ng-repeat="m in messages | limitTo:totalDisplayed" >
				<div class="{{ m.email === $user.email ? 'bg-success' : 'bg-info' }}"
				style="margin-bottom: 10px; padding: 10px">
					<strong class="author">{{ m.email }}</strong>
					<p class="message" style="margin-top:10px">{{ m.message }}</p>
					<small class="pull-right"><i class="small glyphicon glyphicon-time"></i> {{ m.created_at }}</small>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<footer class="navbar navbar-inverse navbar-fixed-bottom" ng-if="!isGuest">
		<form class="navbar-form">
	    	<TextArea ng-model="chat.message" class="form-control" style="width:100%" id="chat" placeholder="Type your message then ctrl+enter to submit.."
	    	ng-keyup="$event.keyCode == 13 && $event.ctrlKey == true && sendMessage(chat.message)"
	    	>{{ chat.message }}</TextArea>
		</form>
	</footer>
</div>